<%-include ('../layouts/header.ejs')-%>
<div id = "container" style = "width: 550px; height: 400px; margin: 0 auto">
</div>
<script language = "JavaScript">
   function drawChart() {
      // Define the chart to be drawn.
      var data = google.visualization.arrayToDataTable([
         ['Message', 'Send', 'Get'],
         ['Personal tutor 1', 3, 2],
         ['Personal tutor 2', 2, 3],
         ['Personal tutor 3', 1, 5],
         ['Personal tutor 4', 3, 9],
         ['Personal tutor 4', 4, 2]
      ]);

      // Set chart options
      var options = {
         title : 'Message',
         vAxis: {title: 'Message'},
         hAxis: {title: 'Personal Tutor'},
         seriesType: 'bars',
      };

      // Instantiate and draw the chart.
      var chart = new google.visualization.ComboChart(document.getElementById('container'));
      chart.draw(data, options);
   }
   google.charts.setOnLoadCallback(drawChart);
</script>
<%-include ('../layouts/footer.ejs')-%>