<%-include('../layouts/header.ejs')-%>

<!-- Main content -->
<main class="main-container container">
    <div class="view-account">
        <section class="module">
            <div class="module-inner">
                <div class="content-panel">
                    <form class="form-horizontal" method="POST">
                        <fieldset class="fieldset" style="font-size: 20px; border-bottom: 1px solid blue;">
                            <br> <br>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Your Tutor:</label>
                                <div class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;">
                                    Nguyễn Văn A
                                </div>
                            </div>
    
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">Email:</label>
                                <div class="col-md-10 col-sm-9 col-xs-12" style="margin-top: 7px;">
                                    anv@fpt.edu.vn
                                </div>
                            </div>
                        </fieldset>
                        <br> <br>
                        <fieldset class="fieldset">
                            <h3 class="fieldset-title" style="text-align: center">New Email</h3>
                            <br> <br>

                            <div class="form-group" style="font-size: 20px;">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label">To:</label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <textarea name="tutor_mail" cols="50" rows="1" ></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label"><span style="font-size: 17px;">Subject:</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <textarea name="subject" required placeholder="Subject"></textarea>
                                    <script>
                                        CKEDITOR.replace('subject');
                                    </script>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-2 col-sm-3 col-xs-12 control-label"><span style="font-size: 17px;">Content:</span></label>
                                <div class="col-md-8 col-sm-9 col-xs-12">
                                    <textarea name="content" required placeholder="Content"></textarea>
                                    <script>
                                        CKEDITOR.replace('content');
                                    </script>
                                </div>
                            </div>
                        </fieldset>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-10 col-sm-9 col-xs-12 col-md-push-2 col-sm-push-3 col-xs-push-0">
                                <input class="btn btn-primary" type="submit" value="Send">
                                <a class="btn btn-danger" role="button" href="/staff/PersonalSupport/GroupDetail/<%=data.group_id%>">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</main>
<!-- /.content -->

<%-include('../layouts/footer.ejs')-%>